body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://i.imgur.com/DNc9OPU.jpg');
  background-repeat: no-repeat;
  color: darkblue;
}

a {
  color: red;
}
