<%- include('../partials/header') %>

  <title>Enter a New Squad</title>
<form action="/squads" method="POST">
  <label>Name
    <input type="text" name="name" >
  </label><br>
  <input type="submit" value="Add Squad">
</form>
<%- include('../partials/footer') %>