<%- include('../partials/header') %>

  <title>Enter a New Squad</title>
<form action="/squads" method="POST">
  <label>Name
    <input type="text" name="name">
  </label><br>
  <label>Character
    <select name="character">
      <option value="Spiderman">Spiderman</option>
      <option value="Iron Man">Iron Man</option>
      <option value="Hulk">Hulk</option>
      <option value="Captain America">Captain America</option>
      <option value="Thor">Thor</option>
    </select>
  </label><br>
  <input type="submit" value="Add Squad">
</form>
<%- include('../partials/footer') %>