<%- include('../partials/header') %>

<section id="show-page">
    <div>Squad name: <%= squad.name %></div>
    <form id="edit-name-form" method="POST" action="/squads">
        <select name="name">
            <option value="North">North</option>
            <option value="East">East</option>
            <option value="South">South</option>
            <option value="West">West</option>
          </select>
        <label>Character:</label>
        <select name="character">
            <option value="Spiderman">Spiderman</option>
            <option value="Iron Man">Iron Man</option>
            <option value="Hulk">Hulk</option>
            <option value="Captain America">Captain America</option>
            <option value="Thor">Thor</option>
        </select>
        <input type="submit" value="Add Character">
    </form>
    


<%- include('../partials/footer') %>