<%- include('../partials/header') %>

<% if (squad.characters.length) { %>
<section id="show-page">
    <div>Squad name: <%= squad.name %></div>
    <form id="edit-name-form" method="POST" action="/characters">
        <!-- <select name="name">
            <option value="North">North</option>
            <option value="East">East</option>
            <option value="South">South</option>
            <option value="West">West</option>
          </select> -->
        <label>Character:</label>
        <select name="character">
          <% character.forEach(function(c) { %> 
          <option value="<%c.id%>"><% c.name %></option>
        </select>
        <input type="submit" value="Select Character">
    </form>
    <% }); %>
    
<% } else { %>
  <h5>No Characters Yet</h5>
<% } %>


<%- include('../partials/footer') %>