<%- include('../partials/header') %>

  <title>Enter a New Character</title>
<form action="/characters" method="POST">
  <label>Name
    <input type="text" name="name" >
  </label><br>
  <input type="submit" value="Add Character">
</form>
<%- include('../partials/footer') %>